/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  color: #293c4b;
  font-size: 48px;

  background-color: #9f9f9f;

  min-height: 100vh;
  display: flex;
}

/* .page-content.home-page {
  display: flex;
  justify-content: space-evenly;
} */

.home-page > div {
  flex-grow: 1;
}

.home-page > div:first-child {
  align-items: center;
  justify-content: center;
  display: flex;
}

.page-content.game-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.players-table {
  /* background-color: orange; */
  flex-grow: 3;
  margin-right: 50px;
}

.game-actions {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.actions-list {
  /* background-color: green; */
  height: 200px;
  overflow-y: scroll;
  font-size: 26px;

  border-left: 1px solid #9f9f9f;
  border-bottom: 1px dashed #9f9f9f;
  border-top: 1px dashed #9f9f9f;
  padding-left: 50px;
}

.actions-list-item {
  margin-bottom: 12px;
}

.action-buttons {
  /* background-color: purple; */
  flex-grow: 1;
}

input[type="submit"],
input[type="number"] {
  font-size: 48px;
  border-radius: 10px;
  background-color: hsl(50, 92%, 57%);
}

input[type="submit"]:active {
  background-color: hsl(50, 99%, 64%);
  box-shadow: 10px 10px;
}

input[type="text"] {
  font-size: 48px;
}

.home-page input[type="submit"] {
  max-width: 80vw;
}

.home-page form {
  display: inline;
}

a {
  text-decoration: underline dotted #9f9f9f;
  color: #1e4594;
}

a:hover,
a:active {
  text-decoration: underline dotted #1e4594;
}

.main-container {
  max-width: 99vw;
  background-color: hsl(50, 99%, 64%);
  margin: 10px auto 0;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page-content {
  flex: 1;

  display: flex;
  flex-direction: column;

  padding: 25px;
}

h1 {
  font-size: 50px;
}

img {
  max-width: 200px;
}

footer {
  border-top: 36px solid #9f9f9f;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

footer li {
  display: inline-block;
  padding: 10px;
}

footer li:not(:first-child)::before {
  content: "• ";
}

.icons-credits {
  list-style-type: none;
  padding: 0;
  display: inline;
}

.icons-credits li {
  display: inline;
}

.icons-credits img {
  width: 70px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 36px solid #9f9f9f;
}

header img {
  width: 50px;
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
}

th {
  border-bottom: 4px solid #9f9f9f;
}

.game-page tr:not(:last-child) {
  border-bottom: 1px solid #9f9f9f;
}

.suit-hearts,
.suit-diamonds {
  color: red;
}

.compact-card {
  background-color: white;
  padding: 0 5px;
  display: inline-block;
}

.strike-through {
  text-decoration: line-through;
}

.action-buttons input[type="number"] {
  width: 320px;
}

.players-table .piggy-bank {
  width: 50px;
}

.how-to-play-page,
.about-page {
  max-width: 820px;
  margin: 0 auto;
}
